body {
  background-color: #eef3f8;
  padding: 60px;
}

.card {
  background-color: white;
  padding: 50px;
  width: 540px;
  margin: auto;
}

h1 {
  color: #087f9c;
  font-size: 36px;
}

p {
  font-size: 20px;
}

h2 {
  color: #087f9c;
  font-size: 22px;
}

ul {
  display: flex;
  gap: 15px;
  padding: 0;
}

li {
  list-style: none;
  background-color: #19afd0;
  padding: 15px 25px;
  border-radius: 25px;
  color: white;
}

a {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  color: #087f9c;
}
